  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh sans', sans-serif;
    scroll-behavior:smooth;

   }

   .navbar {
    background: #131313;
    height:80px;
    display: flex;
    justify-content:center;
    align-items: center;
    font: size 1.2rem;
    position: sticky;
    top:0;
    z-index:999;
    }
   .navbar__container{
    display:flex;
    justify-content: space-between;
    height:80px;
    z-index:1;
    width:100%;
    max-width:1300px;
    margin: 0 auto;
    padding: 0 50px ;
  }
    #navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top,#ff0844 20%,#fbbaa5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 500;
   }

#navbar__desc{
    background-color: #ff8177;
    background-image: linear-gradient(to top,#b03d99 0%,#af99ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
 font-size: 1rem;
 display:flex;
 align-items: center;
 cursor: pointer;
 text-decoration: none;
 
 
  }

.navbar__menu{
    display: flex;
    align-items:center;
    list-style:none;
  }
.navbar__item{
    height: 80px;
}
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}
.navbar__btn
{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 1rem;
    width:100%;

}

#button
{
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    padding:10px 20px;
    height:100%;
    width:100%;
    border:none;
    outline:none;
    border-radius:4px ;
    background:-webkit-linear-gradient(to right,#fcb045,#fd1d1d,#833ab4);
    background: linear-gradient(to right,#fcb045,#fd1d1d,#833ab4);
    color: #fff;
    transition: all 0.3s ease;
}
.navbar__links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
}
 @media screen and (max-width:960px){
.navbar__container{
    display:flex;
    justify-content: space-between; 
    height: 80px;
     z-index:1;
    width:100%;
    max-width: 1300px;
}

.navbar__menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  

}
.navbar__menu.active{
    background: #131313;
    top:100%;
    opacity:1;
    transition:all 0.5s ease;
    z-index: 99;
    height:60vh;
    font-size: 1.6rem;

}

#navbar__logo{
    padding-left: 10px;
}
.navbar__toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;



}
 .navbar__item{
     width:100%;
 }
 .navbar__links{
     text-align:center;
     padding:2rem;
     width:100%;
     display:table;

 }
.navbar__btn{
   padding-bottom: 2rem; 
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:80px;
    margin: 0;
}
 }
body, html {
    height: 100%;
}

.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(144, 47, 47, 0.5)), url("main2.jpg");
  

    height: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
    .hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }